# ===== ASP.NET Core =====
PSMS_API/bin/
PSMS_API/obj/
PSMS_API/appsettings.Development.json

# ===== Angular =====
frontend/node_modules/
frontend/.angular/
frontend/dist/

# ===== General =====
.DS_Store
Thumbs.db
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/